{% assign lang = page.lang | default: 'en' %}
{% assign copy = site.data[lang].home %}
<section id="featured-projects" class="section featured-projects">
  <div class="section__title">{{ copy.featured_projects.title | escape_once }}</div>
  <div class="section__content">
    {% for project in copy.featured_projects.items %}
    <div class="project {{ project.class_name }}">
      <figure class="project__pic{% if project.layout == 'phones' %} phones{% endif %}">
        <a href="{{ project.url }}" target="_blank">
          {% if project.layout == 'phones' %}
            {% for image in project.images %}
          <div class="phone">
            <img src="{{ image.src | relative_url }}" alt="{{ image.alt }}">
          </div>
            {% endfor %}
          {% else %}
            {% assign image = project.images | first %}
          <img src="{{ image.src | relative_url }}" alt="{{ image.alt }}">
          {% endif %}
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="{{ project.url }}" target="_blank">{{ project.name | escape_once }}</a>
        </div>
        <p>{{ project.description }}</p>
      </figcaption>
    </div>
    {% endfor %}
  </div>
</section>
