{% assign lang = page.lang | default: 'en' %}
{% assign copy = site.data[lang].home %}
<section id="other-projects" class="section other-projects">
  <div class="section__title">{{ copy.other_projects.title | escape_once }}</div>
  <div class="section__content">
    {% for project in copy.other_projects.items %}
    <div class="project">
      {% if project.name and project.name != '' %}
      <div class="project__name">
        {% if project.url and project.url != '' %}
        <a href="{{ project.url }}" target="_blank" class="arrow-link">{{ project.name | escape_once }}</a>
        {% else %}
        <strong>{{ project.name | escape_once }}</strong>
        {% endif %}
      </div>
      {% endif %}
      <p>{{ project.description }}</p>
      {% if project.used and project.used.size > 0 %}
      <div class="project__used">
        {% for item in project.used %}
        <span class="project__used__item">{{ item | escape_once }}</span>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</section>
